<h1 class="text-2xl font-bold mb-4">
  <%= t 'search.search_results' %>: "<%= params[:search] %>"
</h1>

<div class="space-y-6">
  <% if @results[:games].any? %>
    <div class="bg-gray-100 rounded-lg p-4 shadow">
      <h2 class="text-xl font-semibold mb-3 text-gray-700">
        <%= t 'search.games' %>
      </h2>
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @results[:games].each do |game| %>
          <div>
            <div class="group relative">
              <%= link_to game_profile_path(game.id) do %>
                <% if game && game.cover.attached? %>
                  <%= image_tag url_for(game.cover), alt: game.name,
                                class: "rounded-md bg-gray-200 w-full h-full lg:h-80 lg:w-full object-cover
                          object-center group-hover:opacity-75" %>
                <% else %>
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200
                        lg:aspect-none group-hover:opacity-75 lg:h-80">
                    <img src="https://via.placeholder.com/300" alt="<%= game.name %>" 4
                         class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="mt-4 justify-between line-clamp-2">
              <div class="flex-1">
                <h3 class="text-sm text-gray-700 truncate">
                  <%= link_to game_profile_path(game.id) do %>
                    <%= game.name %>
                  <% end %>
                </h3>
                <p class="mt-1 text-sm text-gray-500 line-clamp-2">
                  <%= game.description %>
                </p>
              </div>
              <div class="mt-4 text-gray-500 flex flex-wrap gap-2">
                <% game.tags.each do |tag| %>
                  <span class="bg-gray-200 px-3 py-1 rounded-full text-sm font-medium text-gray-700"><%= tag.name %></span>
                <% end %>
              </div>
              <% if game.author.present? %>
                <a class="break-all" href="<%= user_profile_path(game.author) %>">
                  <%= game.author.name %>
                </a>
              <% else %>
                <p>
                  <%= t 'games.showcase.no_author' %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>

  <% if @results[:jams].any? %>
    <div class="bg-gray-100 rounded-lg p-4 shadow">
      <h2 class="text-xl font-semibold mb-3 text-gray-700">
        <%= t 'search.jams' %>
      </h2>
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @results[:jams].each do |jam| %>
          <div>
            <div class="group relative">
              <%= link_to jam_profile_url(jam.id) do %>
                <% if jam && jam.cover.attached? %>
                  <%= image_tag url_for(jam.cover), alt: jam.name,
                                class: "rounded-md bg-gray-200 w-full h-full lg:h-80 lg:w-full object-cover
                          object-center group-hover:opacity-75" %>
                <% else %>
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200
                        lg:aspect-none group-hover:opacity-75 lg:h-80">
                    <img src="https://via.placeholder.com/300" alt="<%= jam.name %>"
                         class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="mt-4 justify-between line-clamp-2">
              <div class="flex-1">
                <h3 class="text-sm text-gray-700 truncate">
                  <%= link_to jam_profile_url(jam.id) do %>
                    <%= jam.name %>
                  <% end %>
                </h3>
                <p class="mt-1 text-sm text-gray-500 line-clamp-2">
                  <%= jam.description %>
                </p>
              </div>
              <div class="mt-4 text-gray-500 flex flex-wrap gap-2">
                <% jam.tags.each do |tag| %>
                  <span class="bg-gray-200 px-3 py-1 rounded-full text-sm font-medium text-gray-700"><%= tag.name %></span>
                <% end %>
              </div>
              <% if jam.author.present? %>
                <a class="break-all" href="<%= user_profile_path(jam.author) %>">
                  <%= jam.author.name %>
                </a>
              <% else %>
                <p>Автор не найден</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @results[:friends].any? %>
    <div class="bg-gray-100 rounded-lg p-4 shadow">
      <h2 class="text-xl font-semibold mb-3 text-gray-700">
        <%= t 'friendships.index.title' %>
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-6 pt-4">
        <% @results[:friends].each do |friendship| %>
          <% if find_friend(friendship) %>
            <div class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow
      duration-200 flex items-center space-x-4">
              <a href='<%= '/users/' + find_friend(friendship).id.to_s %>' class="flex items-center space-x-4 flex-grow">
          <span class="relative">
            <% if find_friend(friendship).avatar.attached? %>
              <%= image_tag url_for(find_friend(friendship).avatar), alt: "Profile Picture",
                            class: "h-16 w-16 rounded-full" %>
            <% else %>
              <%= image_tag 'empty-avatar.jpg', class: "h-16 w-16 rounded-full" %>
            <% end %>
            <% if find_friend(friendship).can_see_online?(current_user) %>
              <% if find_friend(friendship).online? %>
                <span class="absolute bottom-1 right-1 block h-4 w-4 rounded-full bg-green-400 ring-2 ring-white"></span>
              <% elsif find_friend(friendship).last_active_at %>
                <span class="absolute bottom-1 right-1 block h-4 w-4 rounded-full bg-gray-400 ring-2 ring-white"></span>
              <% end %>
            <% end %>
          </span>
                <div>
                  <h2 class="text-lg font-semibold text-gray-800"><%= find_friend(friendship).name %></h2>
                  <% if find_friend(friendship).can_see_online?(current_user) %>
                    <p class="mt-6"
                       data-controller="online">
                      <% if find_friend(friendship).last_active_at.present? %>
      <span id="user-status" class="text-sm text-gray-600"
            data-online-target="lastActiveAt"
            data-last-active-at="<%= find_friend(friendship).last_active_at.strftime('%Y-%m-%dT%H:%M:%S') %>"
            data-action="load->online#updateStatus"></span>
                      <% else %>
                        <span class="text-sm text-gray-600">
                          <%= t 'users.profile.offline' %>
                        </span>
                      <% end %></p>
                  <% end %>
                </div>
              </a>
              <div>
                <%= button_to t('friendships.index.btn'), user_friendship_path(@current_user, friendship), method: :delete,
                              class: "bg-red-500 text-white px-3 py-1 rounded-full
                        hover:bg-red-600 transition-colors duration-200" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless @results.values.flatten.any? %>
    <div class="bg-red-100 text-red-600 rounded-lg p-4 shadow">
      <p class="text-lg">
        <%= t 'search.helpers.no_results' %>
      </p>
    </div>
  <% end %>
</div>
