<div data-controller="visits"
     data-visits-active-users-label-value="<%= t('.active_users') %>"
     data-visits-registered-users-label-value="<%= t('.registered_users') %>"
     data-visits-user-count-label-value="<%= t('.user_count') %>"
     data-visits-date-label-value="<%= t('.date') %>"
     class="max-w-6xl mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h1 class="text-2xl font-bold text-center mb-4 text-gray-800"><%= t('.title') %></h1>

  <select id="time-frame" data-action="change->visits#changeTimeFrame" class="mb-4">
    <option value="30"><%= t('.last_30_days') %></option>
    <option value="90"><%= t('.last_90_days') %></option>
  </select>

  <canvas data-visits-target="chart" class="w-full h-64 border border-gray-200 rounded-lg shadow-sm"></canvas>
</div>
