<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <div class="flex items-center space-x-4 mb-6">
      <div class="flex-shrink-0">
        <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), alt: "Profile Picture", class: "rounded-full border-2 border-gray-300", width: 150, height: 150 %>
        <% else %>
          <img src="https://via.placeholder.com/150" alt="Profile Picture" class="h-24 w-24 rounded-full border-2 border-gray-300">
        <% end %>
      </div>
      <div>
        <h2 class="text-2xl font-bold text-gray-800">Имя: <%= @user.name %></h2>
        <p class="text-gray-600">Email: <%= @user.email %></p>
      </div>
    </div>
    <% if @user.id != session[:current_user] %>
      <% friendship = @current_user.friendship_with(@user) %>
      <% if friendship.nil? %>
        <%= button_to "Добавить в друзья", user_friendships_path(@user), method: :post,
                      class: "mt-4 flex w-50 justify-center rounded-md border
                        border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                        shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <% elsif friendship.status == 'pending' && friendship.user == @current_user %>
        <%= button_to "Отменить заявку в друзья", cancel_user_friendship_path(@user, friendship),
                      method: :delete, class: "mt-4 flex w-50 justify-center rounded-md border
                        border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                        shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <% elsif friendship.status == 'accepted' %>
        <%= button_to "Удалить из друзей", user_friendship_path(@user, friendship), method: :delete,
                      class: "mt-4 flex w-50 justify-center rounded-md border
                        border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                        shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <% elsif friendship.status == 'pending' && friendship.user != @current_user %>
        <%= button_to "Принять запрос", user_friendship_path(@current_user, friendship), method: :put,
                      class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <%= button_to "Отклонить запрос", cancel_user_friendship_path(@current_user, friendship), method: :delete,
                      class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <% end %>
      <% else %>
      <%= button_to "Редактировать профиль", edit_user_path, method: :get,
                    class: "mt-4 flex w-50 justify-center rounded-md border
                        border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                        shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    <% end %>
    <div>
      <h3 class="text-xl font-semibold text-gray-800 mb-4 border-b pb-2 border-gray-300">Личные данные</h3>
      <div class="space-y-4">
        <div class="flex justify-between items-center py-2 border-b border-gray-200">
          <span class="text-gray-600">Статус:</span>
          <% if @user.status.blank? %>
            <span class="text-gray-900" id="old-real_name">Информации нет</span>
          <% else %>
            <span class="text-gray-900" id="old-real_name"><%= @user.status %></span>
          <% end %>
        </div>
        <div class="flex justify-between items-center py-2 border-b border-gray-200">
          <span class="text-gray-600">Настоящее имя:</span>
          <% if @user.real_name.blank? %>
            <span class="text-gray-900" id="old-real_name">Информации нет</span>
          <% else %>
            <span class="text-gray-900" id="old-real_name"><%= @user.real_name %></span>
          <% end %>
        </div>
        <div class="flex justify-between items-center py-2 border-b border-gray-200">
          <span class="text-gray-600">День рождения:</span>
          <% if @user.birthday.blank? %>
            <span class="text-gray-900" id="old-birthday">Информации нет</span>
          <% else %>
            <span class="text-gray-900" id="old-birthday"><%= @user.birthday %></span>
          <% end %>
        </div>
        <div class="flex justify-between items-center py-2 border-b border-gray-200">
          <span class="text-gray-600">Местоположение:</span>
          <% if @user.location.blank? %>
            <span class="text-gray-900" id="old-location">Информации нет</span>
          <% else %>
            <span class="text-gray-900" id="old-location"><%= @user.location %></span>
          <% end %>
        </div>
        <div class="flex justify-between items-center py-2">
          <span class="text-gray-600">Номер телефона:</span>
          <% if @user.phone_number.blank? %>
            <span class="text-gray-900" id="old-phone_number">Информации нет</span>
          <% else %>
            <span class="text-gray-900" id="old-phone_number"><%= @user.phone_number %></span>
          <% end %>
        </div>
        <div class="flex justify-between items-center py-2">
          <span class="text-gray-600">Загруженные игры:</span>


          <% if @user.games.any? %>
            <% @user.games.each do |game| %>
              <% g_link = '/games/' + game.id.to_s %>
              <a href="<%= g_link  %>">
                <span class="text-gray-900"><%=game.name %></span>
              </a>
            <% end %>
          <% else %>
            <span class="text-gray-900">Информации нет</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= button_to "Удалить профиль", user_destroy_path, method: :delete,
              class: "mt-4 flex w-50 justify-center rounded-md border
                              border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                              shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
