<div class="bg-white-100 min-h-screen">
  <div class="container mx-auto p-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Мои друзья</h2>
      <div id="friends" class="tabcontent">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @friendships.each do |friendship| %>
            <% if find_friend(friendship) %>
            <div class="bg-white p-4 rounded-lg shadow-md flex items-center space-x-4">
              <a href='<%= '/users/' + find_friend(friendship).id.to_s %>'>
                <div class="flex-shrink-0">
                  <% if find_friend(friendship).avatar.attached? %>
                    <%= image_tag url_for(find_friend(friendship).avatar), alt: "Profile Picture",
                                  class: "rounded-full border-2 border-gray-300", width: 150, height: 150 %>
                  <% else %>
                    <img src="https://via.placeholder.com/150" alt="Profile Picture"
                         class="h-24 w-24 rounded-full border-2 border-gray-300">
                  <% end %>
                </div>
                <div>
                  <h3 class="text-lg font-bold text-gray-800"><%= find_friend(friendship).name %></h3>
                  <p class="text-gray-600"><%= find_friend(friendship).email %></p>
                </div>
              </a>
                <%= button_to "Удалить из друзей", user_friendship_path(@current_user, friendship), method: :delete,
                              class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500
                       focus:ring-offset-2" %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>