<div class="bg-gray-100 min-h-screen">
  <div class="container mx-auto p-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Мои друзья</h2>
      <div class="mb-4">
        <button id="btnFriends" class="tablinks bg-indigo-600 text-white py-2 px-4 rounded-md mr-2 bg-orange-500" onclick="openTab(event, 'friends')">Друзья</button>
        <button id="btnSentRequests" class="tablinks bg-indigo-600 text-white py-2 px-4 rounded-md mr-2" onclick="openTab(event, 'sent_requests')">Отправленные заявки</button>
        <button id="btnReceivedRequests" class="tablinks bg-indigo-600 text-white py-2 px-4 rounded-md" onclick="openTab(event, 'received_requests')">Входящие заявки</button>
      </div>

      <div id="friends" class="tabcontent">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @friendships.each do |friendship| %>
            <% if friendship.friend.id != session[:current_user] %>
              <% friend = friendship.friend %>
            <% else %>
              <% friend = friendship.user %>
            <% end %>
            <div class="bg-white p-4 rounded-lg shadow-md flex items-center space-x-4">
              <a href='<%= '/users/' + friend.id.to_s %>'>
                <div class="flex-shrink-0">
                  <img src="https://via.placeholder.com/150" alt="Profile Picture" class="h-16 w-16 rounded-full border-2 border-gray-300">
                </div>
                <div>
                  <h3 class="text-lg font-bold text-gray-800"><%= friend.name %></h3>
                  <p class="text-gray-600"><%= friend.email %></p>
                </div>
              </a>
                <%= button_to "Удалить из друзей", user_friendship_path(@current_user, friendship), method: :delete,
                              class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="sent_requests" class="tabcontent" style="display:none">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @sent_requests.each do |request| %>
            <div class="bg-white p-4 rounded-lg shadow-md flex items-center space-x-4">
              <a href='<%= '/users/' + request.friend.id.to_s %>'>
                <div class="flex-shrink-0">
                  <img src="https://via.placeholder.com/150" alt="Profile Picture" class="h-16 w-16 rounded-full border-2 border-gray-300">
                </div>
                <div>
                  <h3 class="text-lg font-bold text-gray-800"><%= request.friend.name %></h3>
                  <p class="text-gray-600"><%= request.friend.email %></p>
                </div>
              </a>
                <%= button_to "Отменить запрос", cancel_user_friendship_path(@current_user, request), method: :delete,
                              class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="received_requests" class="tabcontent hidden">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @received_requests.each do |request| %>
            <div class="bg-white p-4 rounded-lg shadow-md flex items-center space-x-4">
              <a href='<%= '/users/' + request.user.id.to_s %>'>
                <div class="flex-shrink-0">
                  <img src="https://via.placeholder.com/150" alt="Profile Picture" class="h-16 w-16 rounded-full border-2 border-gray-300">
                </div>
                <div>
                  <h3 class="text-lg font-bold text-gray-800"><%= request.user.name %></h3>
                  <p class="text-gray-600"><%= request.user.email %></p>
                </div>
              </a>
                <%= button_to "Принять запрос", user_friendship_path(@current_user, request), method: :put,
                              class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                <%= button_to "Отклонить запрос", cancel_user_friendship_path(@current_user, request), method: :delete,
                              class: "mt-4 flex w-50 justify-center rounded-md border
                      border-tranparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function openTab(evt, tabName) {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

        // Highlight active button with orange background
        if (tabName === 'friends') {
            document.getElementById("btnFriends").classList.add("bg-orange-500");
            document.getElementById("btnSentRequests").classList.remove("bg-orange-500");
            document.getElementById("btnReceivedRequests").classList.remove("bg-orange-500");
        } else if (tabName === 'sent_requests') {
            document.getElementById("btnFriends").classList.remove("bg-orange-500");
            document.getElementById("btnSentRequests").classList.add("bg-orange-500");
            document.getElementById("btnReceivedRequests").classList.remove("bg-orange-500");
        } else if (tabName === 'received_requests') {
            document.getElementById("btnFriends").classList.remove("bg-orange-500");
            document.getElementById("btnSentRequests").classList.remove("bg-orange-500");
            document.getElementById("btnReceivedRequests").classList.add("bg-orange-500");
        }
    }
</script>

<style>
    .bg-orange-500 {
        background-color: #f59e0b; /* Replace with your desired orange color */
    }
</style>
