<!-- app/views/games/edit.html.erb -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(model: @game, url: game_update_path(@game), method: :patch, local: true) do |form| %>

      <div class="mb-4">
        <%= form.label :name, "Название игры", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, class: "block w-full appearance-none rounded-md border border-gray-300
         px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none
          focus:ring-indigo-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, "Описание", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_area :description, class: "block w-full appearance-none rounded-md border
         border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
          focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :cover, "Обложка", class: "block text-sm font-medium text-gray-700" %>
        <%= form.file_field :cover, class: "block w-full appearance-none rounded-md border
         border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
          focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :game_file, "Файл игры (.zip, .rar, .7z) до 100 MB", class: "block text-sm font-medium text-gray-700" %>
        <%= form.file_field :game_file, accept: ".zip,.rar,.7z", class: "block w-full appearance-none rounded-md border
         border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
          focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        <% if @game.game_file.attached? %>
          <p class="mt-2 text-sm text-gray-500">Текущий файл: <%= link_to "Скачать архив", url_for(@game.game_file), download: true, class: "text-indigo-600 hover:text-indigo-900" %></p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :html5_zip, "HTML5 версия игры (.zip)", class: "block text-sm font-medium text-gray-700" %>
        <%= form.file_field :html5_zip, accept: ".zip", class: "block w-full appearance-none rounded-md border
         border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
          focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        <% if @game.html5_zip.attached? %>
          <p class="mt-2 text-sm text-gray-500">
            Текущий HTML5 архив:
            <%= link_to "Скачать", url_for(@game.html5_zip), download: true, class: "text-indigo-600 hover:text-indigo-900" %>
          </p>
        <% end %>
      </div>


      <div class="mb-4">
        <%= form.label :tags, "Теги", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
            <div class="flex items-center">
              <%= b.check_box(class: "mr-2") %>
              <%= b.label(class: "text-sm font-medium text-gray-700") %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mb-4">
        <%= form.submit "Сохранить", class: "mt-4 flex w-full justify-center rounded-md
         border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
          shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      </div>
    <% end %>
  </div>
</div>
