<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    <%= render partial: 'helpers/errors' %>

    <%= form_for :game, url: games_url do |f| %>
      <div class="mt-4">
        <%= f.label :name, "Название игры", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :name, required: true,
                           class: "block w-full appearance-none rounded-md border border-gray-300
                            px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
                             focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>
      </div>

      <div class="mt-4">
        <%= f.label :description, "Описание",
                    class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field :description, required: true, class: "block w-full appearance-none
          rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm
           focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>
      </div>

      <div class="mt-4">
        <%= f.label :avatar, "Обложка", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.file_field :cover, required: true,
                           class: "block w-full appearance-none rounded-md border border-gray-300
                            px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500
                             focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>
      </div>

      <div class="mt-4">
        <%= f.label :game_file, "Файл игры (.zip, .rar, .7z) до 100 MB", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.file_field :game_file, required: true, accept: ".zip,.rar,.7z", class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>
      </div>

      <div class="mt-4">
        <%= f.label :tags, "Теги", class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
            <div class="flex items-center">
              <%= b.check_box(class: "mr-2") %>
              <%= b.label(class: "text-sm font-medium text-gray-700") %>
            </div>
          <% end %>
        </div>
      </div>

      <%= submit_tag 'Создать игру', class: "mt-4 flex w-full justify-center rounded-md border
       border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm
        hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>

    <% end %>
  </div>
</div>