<div class="bg-white">
  <div class="pb-16 pt-6 sm:pb-24">
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-5 lg:col-start-8">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900 break-all"><%= @game.name %></h1>
          </div>
        </div>


        <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
          <!-- Image gallery -->
          <div class="flex justify-center mb-7">
            <% if @game && @game.cover.attached? %>
              <%= image_tag url_for(@game.cover), alt: @game.name,
                            class: "rounded-md bg-gray-200 object-cover object-center group-hover:opacity-75 lg:h-80 lg:w-130" %>
            <% else %>
              <div class="w-full max-w-lg aspect-w-1 aspect-h-1 overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80">
                <img src="https://via.placeholder.com/300" alt="<%= @game.name %>"
                     class="object-cover object-center h-full w-full">
              </div>
            <% end %>
          </div>

          <%# if @game.in_jam? %>
           <!-- Star Rating -->
          <div class="mt-4 text-center">
            <h2 class="text-lg font-semibold">Оцените игру:</h2>
          </div>

          <div class="mt-2 flex justify-center" data-controller="star-rating">
            <div class="flex items-center space-x-2" id="star-rating">
              <% 10.times do |i| %>
                <svg
                  class="w-8 h-8 text-gray-300 cursor-pointer transition-all"
                  data-rating="<%= i + 1 %>"
                  data-star-rating-target="star"
                  data-action="mouseenter->star-rating#hover mouseleave->star-rating#leave click->star-rating#setRating"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="gray">
                  <polygon
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    points="12 17.27 18.18 21 15.64 13.97 21 9.24 13.81 8.64 12 2 10.19 8.64 3 9.24 8.36 13.97 5.82 21 12 17.27"
                    />
                </svg>
              <% end %>
            </div>
          </div>
          <%# else %>
<!--            <div class="mt-4 text-center">-->
<!--              <h2 class="text-lg font-semibold">Эта игра не участвует в геймджеме, поэтому рейтинг недоступен.</h2>-->
<!--            </div>-->
          <%# end %>
        </div>




        <div class="mt-8 lg:col-span-5">

          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Описание:</h2>

            <div class="prose prose-sm mt-4 text-gray-500">
              <p class="break-all">
                <%= @game.description %>
              </p>
            </div>
          </div>

          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Теги:</h2>
            <div class="mt-4 text-gray-500">
              <% if @game.tags.any? %>
                <ul class="flex flex-wrap gap-2">
                  <% @game.tags.each do |tag| %>
                    <li class="bg-gray-200 px-3 py-1 rounded-full text-sm font-medium text-gray-700">
                      <%= tag.name %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <p>Теги не найдены</p>
              <% end %>
            </div>
          </div>

          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Автор:</h2>
            <div class="prose prose-sm mt-4 text-gray-500">
              <% if @game.author.present? %>
                <a class="break-all" href="<%= user_profile_path(@game.author) %>">
                  <%= @game.author.name %>
                </a>
              <% else %>
                <p>Автор не найден</p>
              <% end %>
            </div>
          </div>

          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Файл игры:</h2>
            <div class="mt-4">
              <% if @game.game_file.attached? %>
                <p class="text-red-600">Внимание: мы не несем ответственности за содержимое архива.</p>
                <a href="<%= url_for(@game.game_file) %>" download class="text-indigo-600 hover:text-indigo-900">
                  Скачать архив (.zip, .rar, .7z)
                </a>
              <% else %>
                <p class="text-gray-500">Файл игры не прикреплён.</p>
              <% end %>
            </div>
          </div>


          <% if @game.author.present? && session[:current_user] == @game.author.id %>
            <div>
              <%= button_to "Редактировать игру", game_edit_path(@game), method: :get,
                            class: "mt-4 flex w-50 justify-center rounded-md border
                              border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                              shadow-sm hover:bg-indigo-700 focus:outline-none
                               focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
              <%= button_to "Удалить игру", game_destroy_path(@game), method: :delete,
                            class: "mt-4 flex w-50 justify-center rounded-md border
                              border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                              shadow-sm hover:bg-indigo-700 focus:outline-none
                               focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>