<div class="bg-white" data-controller="games">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Каталог игр</h2>

    <%= button_to "Вернуться на главный экран", dashboard_path, method: :get,
                  class: "mt-4 flex w-50 justify-center rounded-md border
                      border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                      shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>

    <%= form_with url: games_showcase_path, method: :get, local: true, class: "mt-6 mb-4" do |f| %>
      <div class="flex flex-wrap gap-4">
        <%= f.text_field :search,
                         value: params[:search],
                         placeholder: "Поиск по названию или описанию игры",
                         autocomplete: "off",
                         class: "block w-full max-w-lg sm:max-w-xs px-4 py-3 border
                           border-gray-300 rounded-md shadow-sm focus:outline-none
                           focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"%>
        <%= submit_tag "Искать",
                       class: "ml-2 inline-flex items-center justify-center px-4 py-2
          border border-transparent rounded-md shadow-sm text-sm
          font-medium text-white bg-indigo-600 hover:bg-indigo-700
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
      </div>

      <div class="mt-4 flex flex-wrap gap-2">
        <% @tags.each do |tag| %>
          <div>
            <%= check_box_tag 'tag_ids[]', tag.id, params[:tag_ids]&.include?(tag.id.to_s),
                              id: "tag_#{tag.id}", class: "mr-2" %>
            <%= label_tag "tag_#{tag.id}", tag.name, class: "text-sm font-medium text-gray-700" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="autocomplete-results" class="autocomplete-results-popup">
      <%= render partial: 'autocomplete_results',
                 locals: { results: @search_results } if @search_results %>
    </div>

    <div class="mt-6">
      <%= render partial: 'showcase_grid', locals: {games: @games} %>
    </div>

  </div>
</div>

