<div class="bg-white" data-controller="games">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Игры</h2>
      <%= button_to "Создать игру", games_new_path, method: :get,
                    class: "rounded-md bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow
                     hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500
                      focus:ring-offset-2 transition duration-300" %>
    </div>

    <% if current_user %>
      <div class="flex space-x-4 mb-8">
        <button data-action="click->games#toggleGames"
                data-games-target="showAll"
                class="text-lg text-gray-400 hover:text-gray-800 font-medium transition duration-200">Все игры</button>
        <button data-action="click->games#toggleGames"
                data-games-target="showMine"
                class="text-lg text-gray-400 hover:text-gray-800 font-medium transition duration-200">Мои игры</button>
      </div>
    <% end %>

    <div data-games-target="allGames" class="hidden">
      <h3 class="text-xl font-semibold my-4">Все игры</h3>
      <% if @games.present? %>
        <%= render partial: 'showcase_grid', locals: { games: @games } %>
      <% else %>
        <p class="text-gray-600 mt-2">Нет доступных игр.</p>
      <% end %>
    </div>

    <div data-games-target="myGames" class="mt-6">
      <h3 class="text-xl font-semibold my-4">Мои игры</h3>
      <% if @games_accepted.present? %>
        <%= render partial: 'showcase_grid', locals: { games: @games_accepted } %>
      <% else %>
        <p class="text-gray-600 mt-2">У вас нет принятых игр.</p>
      <% end %>

      <h3 class="text-xl font-semibold my-4">Игры на модерации</h3>
      <% if @games_under_moderation.present? %>
        <%= render partial: 'showcase_grid', locals: { games: @games_under_moderation } %>
      <% else %>
        <p class="text-gray-600 mt-2">У вас нет игр на модерации.</p>
      <% end %>

      <h3 class="text-xl font-semibold my-4">Отклоненные игры</h3>
      <% if @games_rejected.present? %>
        <%= render partial: 'showcase_grid', locals: { games: @games_rejected } %>
      <% else %>
        <p class="text-gray-600 mt-2">У вас нет отклоненных игр.</p>
      <% end %>
    </div>
  </div>
</div>
