<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  <% jams.each do |jam| %>
    <div>
      <div class="group relative">
        <%= link_to jam_profile_url(jam.id) do %>
          <% if jam && jam.cover.attached? %>
            <%= image_tag url_for(jam.cover), alt: jam.name,
                          class: "rounded-md bg-gray-200 w-full h-full lg:h-80 lg:w-full object-cover object-center group-hover:opacity-75" %>
          <% else %>
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="https://via.placeholder.com/300" alt="<%= jam.name %>"
                   class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="mt-4">
        <div class="flex-1">
          <h3 class="text-sm text-gray-700 truncate">
            <%= link_to jam_profile_url(jam.id) do %>
              <%= jam.name %>
            <% end %>
          </h3>

          <p class="mt-1 text-sm text-gray-500 line-clamp-2">
            <%= jam.description %>
          </p>
        </div>

        <div class="mt-4 text-gray-500 flex flex-wrap gap-2">
          <% jam.tags.each do |tag| %>
            <span class="bg-gray-200 px-3 py-1 rounded-full text-sm font-medium text-gray-700"><%= tag.name %></span>
          <% end %>
        </div>

        <div class="mt-4 space-y-2 text-sm text-gray-700">
          <div>
            <span class="font-medium text-gray-900">Начало:</span>
            <%= jam.start_date&.strftime("%d.%m.%Y") %>
          </div>

          <div>
            <span class="font-medium text-gray-900">Приём работ до:</span>
            <%= jam.deadline&.strftime("%d.%m.%Y") %>
          </div>

          <div>
            <span class="font-medium text-gray-900">Создатель:</span>
            <% if jam.author.present? %>
              <%= link_to jam.author.name, user_profile_path(jam.author), class: "text-indigo-600 hover:text-indigo-900 break-all" %>
            <% else %>
              <span>Автор не найден</span>
            <% end %>
          </div>

          <div>
            <span class="font-medium text-gray-900">Хосты:</span>
            <% hosts = jam.hosts %>
            <% if hosts.any? %>
              <div class="mt-1 flex flex-wrap gap-2">
                <% hosts.each do |host| %>
                  <%= link_to host.name, user_profile_path(host),
                              class: "bg-indigo-100 text-indigo-800 px-2 py-1 rounded-full text-xs font-medium hover:bg-indigo-200" %>
                <% end %>
              </div>
            <% else %>
              <span class="text-gray-500">—</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>