<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-2xl font-bold text-center mb-8">Настройка Жюри</h1>
    <%= form_for @jam, url: jury_configuration_update_path(@jam), method: :post, html: {class: 'md:col-span-2' } do |f| %>
    <table class="w-full text-left text-sm text-gray-700 dark:text-gray-400">
      <thead class="text-xs text-gray-50 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 text-sm font-medium text-center">
          Пользователь
        </th>
        <th scope="col" class="px-6 py-3 text-sm font-medium text-center">
          Статус
        </th>
        <th scope="col" class="px-6 py-3 text-sm font-medium text-center">
          Хост
        </th>
        <th scope="col" class="px-6 py-3 text-sm font-medium text-center">
          Админ
        </th>
        <th scope="col" class="px-15 py-3 text-sm font-medium text-center">
          Член Жюри
        </th>
        <th scope="col" class="px-6 py-3 text-sm font-medium text-center">
          Добавлен
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="bg-white border-b border-b-2 border-b-gray-500 dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex flex-col items-center">
              <% if user && user.avatar.attached? %>
                <%= image_tag url_for(user.avatar), alt: "Profile Picture",
                              class: "h-16 w-16 rounded-full" %>
              <% else %>
                <%= image_tag 'empty-avatar.jpg', class: "h-16 w-16 rounded-full"%>
              <% end %>
              <h2 class="text-lg font-semibold text-gray-800"><%= user.name %></h2>
            </th>
          <td class="px-6 py-2">
            <%if user.online? %>
              <h1 class=" font-bold text-center mb-8 bg-green-custom rounded text-white">Принято</h1>
            <%else %>
              <h1 class=" font-bold text-center mb-8 bg-yellow-custom rounded text-gray-700">В ожидании</h1>
            <%end %>
          </td>

            <td class="px-8 py-4 justify-center">
              <%= f.check_box :hostsId, { multiple: true }, user.id, nil %>
            </td>
          <td class="px-8 py-4 justify-center">
            <%= f.check_box :adminsId, { multiple: true }, user.id, nil %>
          </td>
          <td class="px-8 py-4 justify-center">
            <%= f.check_box :juriesId, { multiple: true }, user.id, nil %>
          </td>
          <td class="px-6 py-4 text-center">
            280 days ago
          </td>
          <td class="px-6 py-4 text-center">
            <%= link_to 'Удалить', '#', class: 'delete-user-link text-red-600', data: { user_id: user.id, jam_id: @jam.id } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
      <%= f.submit "Сохранить", id: "table-info-button-save", class: "mt-4 flex w-50 justify-center
     rounded-md border
                       border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white
                       shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500
                        focus:ring-offset-2 cursor-pointer" %>
    <% end %>

  </div>
</div>