<div class="bg-white" data-controller="jams">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900"><%= t '.title' %></h2>
      <%= button_to t(".btn"), jams_new_path, method: :get,
                    class: "rounded-md bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow
                    hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500
                    focus:ring-offset-2 transition duration-300" %>
    </div>
    <%= form_with url: jams_showcase_path, method: :get,
                  data: { action: "input->jams#search" },
                  class: "mt-6 mb-4" do |f| %>
      <div class="flex flex-wrap gap-4">
        <%= f.text_field :search,
                         value: params[:search],
                         placeholder: t('.search'),
                         data: { jams_target: "input" }, autocomplete: "off",
                         class: "block w-full max-w-lg sm:max-w-xs px-4 py-3 border
                         border-gray-300 rounded-md shadow-sm focus:outline-none
                         focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= submit_tag t('.search_btn'),
                       class: "ml-2 inline-flex items-center justify-center px-4 py-2
      border border-transparent rounded-md shadow-sm text-sm
      font-medium text-white bg-indigo-600 hover:bg-indigo-700
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>

      <div class="mt-4">
        <label class="block text-sm font-medium text-white">Теги</label>
        <div class="mt-1 grid grid-cols-3 gap-2 sm:grid-cols-4 lg:grid-cols-10">
          <% @tags.each do |tag| %>
            <label data-jams-target="label"
              class="relative flex items-center justify-center rounded-lg border px-4 py-2 shadow-sm cursor-pointer
          text-center break-words transition transform hover:scale-105
          <%= 'bg-indigo-500 border-indigo-500 text-white' if params[:tag_ids]&.include?(tag.id.to_s) %>
          <%= 'border-gray-300 text-gray-700' unless params[:tag_ids]&.include?(tag.id.to_s) %>"
              style="min-height: 30px; max-width: 115px;">

              <%= check_box_tag 'tag_ids[]', tag.id, params[:tag_ids]&.include?(tag.id.to_s),
                                id: "tag_#{tag.id}",
                                class: "absolute inset-0 w-full h-full opacity-0 cursor-pointer",
                                data: { jams_target: "tagCheckbox", action: "change->jams#search" } %>

              <span class="text-center text-sm font-medium pointer-events-none" data-jams-target="label">
          <%= tag.name %>
        </span>
            </label>
          <% end %>
        </div>
      </div>


      <%= hidden_field_tag :tag_mode, params[:tag_mode] || 'all', data: { jams_target: "tagMode" } %>

      <div class="mt-4 flex flex-wrap gap-2">
        <%= check_box_tag :toggle_tag_mode, 'any', params[:tag_mode] == 'any',
                          data: { action: "change->jams#toggleTagMode", jams_target: "toggleTagMode" } %>
        <%= label_tag :toggle_tag_mode, t('.checkbox'),
                      class: "text-sm font-medium text-gray-700" %>

        <div id="reset-button" class="ml-4 flex items-center space-x-1 text-indigo-600 cursor-pointer hidden"
             data-jams-target="resetButton" data-action="click->jams#resetTags">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
          <span class="text-sm font-medium">
            <%= t '.reset_options' %>
          </span>
        </div>

      </div>
    <% end %>

    <div id="autocomplete-results" class="autocomplete-results-popup">
      <%= render partial: 'autocomplete_results',
                 locals: { results: @search_results } if @search_results %>
    </div>

    <div class="mt-6">
      <% if @jams.present? %>
        <%= render partial: 'showcase_grid', locals: { jams: @jams } %>
      <% else %>
        <div class="flex justify-between items-center">
          <h2 class="text-1xl font-bold tracking-tight text-gray-600">
            <%= t '.no_result' %>
          </h2>
        </div>
      <% end %>
    </div>

  </div>
</div>
