<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Каталог джемов</h2>
      <%= button_to "Создать джем", jams_new_path, method: :get,
                    class: "rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @jams.each do |jam| %>
        <div class="group relative">
          <% if jam && jam.cover.attached? %>
            <%= image_tag url_for(jam.cover), alt: jam.name, class: "rounded-md bg-gray-200 w-full h-full
            lg:h-80 lg:w-full object-cover object-center group-hover:opacity-75" %>
          <% else %>
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none
             group-hover:opacity-75 lg:h-80">
              <img src="https://via.placeholder.com/300" alt="<%= jam.name %>" class="h-full w-full
              object-cover object-center lg:h-full lg:w-full">
            </div>
          <% end %>
          <div class="mt-4 justify-between line-clamp-2">
            <div class="flex-1">
              <h3 class="text-sm text-gray-700 truncate">
                <a href="/jams/<%= jam.id %>">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  <%= jam.name %>
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500 line-clamp-2"><%= jam.description %></p>
            </div>
            <% if jam.author.present? %>
              <a class="break-all" href="<%= user_profile_path(jam.author) %>">
                <%= jam.author.name %>
              </a>
            <% else %>
              <p>Автор не найден</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>