<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
    <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
      <th scope="col" class="flex justify-center py-3 px-6 text-left">
        <%= link_to '#', admin_users_path(sort_by: 'id', direction: toggle_direction('id')) %>
        <%= sort_arrow('id') %>
      </th>
      <th scope="col" class="py-3 px-6 text-left">
        <%= link_to 'Name', admin_users_path(sort_by: 'name', direction: toggle_direction('name')) %>
        <%= sort_arrow('name') %>
      </th>
      <th scope="col" class="py-3 px-6 text-left">
        <%= link_to 'Email', admin_users_path(sort_by: 'email', direction: toggle_direction('email')) %>
        <%= sort_arrow('email') %>
      </th>
      <th scope="col" class="py-3 px-6 text-left">
        <%= link_to 'Role', admin_users_path(sort_by: 'role', direction: toggle_direction('role')) %>
        <%= sort_arrow('role') %>
      </th>
      <th scope="col" class="py-3 px-6 text-left">
        <%= link_to 'Created At', admin_users_path(sort_by: 'created_at', direction: toggle_direction('created_at')) %>
        <%= sort_arrow('created_at') %>
      </th>
      <th scope="col" class="py-3 px-6 text-left"></th>
    </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
    <%= render partial: 'admin/users/user' %>
    </tbody>
  </table>
</div>

<div class="p-4 mt-4 flex justify-center pagy-nav select-none">
  <%== pagy_nav(@pagy)
       .gsub('<a', '<a class="px-3 py-1 mx-1 text-blue-500 bg-gray-100 border border-gray-300 rounded-lg hover:bg-blue-500 hover:text-white [aria-disabled=\'true\']:opacity-70 [aria-disabled=\'true\']:cursor-not-allowed [aria-disabled=\'true\']:focus:outline-none"')
       .gsub('class="page active"', 'class="bg-blue-500 text-white border-blue-500"')
       .gsub('class="disabled"', 'class="text-gray-400 bg-gray-200 border-gray-300 cursor-not-allowed [aria-disabled=\'true\']:opacity-70 [aria-disabled=\'true\']:cursor-not-allowed [aria-disabled=\'true\']:focus:outline-none"')
  %>
</div>

<style>
    [aria-disabled="true"] {
        opacity: 0.6;
    }
</style>
