<footer class="bg-gray-900">
  <nav class="mx-auto max-w-7xl px-4 py-6 lg:px-8" aria-label="Global">
    <div class="flex flex-wrap justify-center gap-x-4 gap-y-3">
      <%= link_to t('layouts.header.dashboard'), news_path, class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
      <%= link_to t('layouts.header.users'), url_for(:users), class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
      <%= link_to t('layouts.header.games'), url_for(:games_showcase), class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
      <%= link_to t('layouts.header.jams'), jams_showcase_path, class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
      <%= link_to t('layouts.header.achievements'), achievements_path, class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
      <%= link_to t('layouts.footer.contacts'), contacts_path, class: "text-sm font-semibold leading-6 text-white whitespace-nowrap" %>
    </div>
  </nav>
  <div class="flex flex-wrap justify-center items-center gap-4 px-4">
    <%= image_tag 'fsi_1.svg', class: "max-w-[45%] h-auto sm:max-w-xs" %>
    <%= image_tag 'fsi_2.svg', class: "max-w-[45%] h-auto sm:max-w-xs sm:w-1/4" %>
  </div>
  <div class="mx-auto flex max-w-7xl items-center justify-center p-6 lg:pl-72 lg:pr-32">
    <p class="text-sm font-semibold leading-6 text-white"><%= t 'layouts.footer.fsi_text' %></p>
  </div>
  <div class="mx-auto flex max-w-7xl items-center justify-center py-4 px-6 lg:px-8">
    <a href="https://boosty.to/jammer_company/donate" target="_blank" rel="noopener noreferrer"
       class="inline-flex items-center gap-2 rounded-full bg-orange-500 px-5 py-2 text-sm font-semibold text-white shadow hover:bg-orange-400 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
      <%= t 'layouts.footer.support_boosty' %>
    </a>
  </div>
  <div class="mx-auto flex max-w-7xl items-center justify-center flex-col p-6 lg:px-8">
    <p class="text-sm font-semibold leading-6 text-white">Est. 2024. Jammer <%= APP_VERSION.to_s %><br></p>
    <p class="text-sm font-semibold leading-6 text-white">
      Email:
      <a href="mailto:jammer.website@internet.ru" class="text-sm font-semibold leading-6 text-white">jammer.website@internet.ru</a>
    </p>
    <p class="text-sm font-semibold leading-6 text-white"><%= t 'layouts.footer.copyright' %></p>
  </div>
</footer>